input:focus {
    outline: 0 0 0 0 !important;
    box-shadow: 0 0 0 0 !important;
    border-color: #d0d7e1;
}

.profile-stars {
	color: #FABA03;
	padding: 7px 0;
	text-align: center;
}
.profile-stars > i {
	margin-left: -2px;
}